body {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  background: #cfd2cd;
  font-family: Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

h3 {
  color: #5ca4a9;
}

h4 {
  color: #5ca4a9;
}

h3.sec {
  padding-left: 0.5em;
}

h4.sec {
  padding-left: 1em;
}

p.sec {
  padding-left: 1.5em;
}

.contactinfo {
  top: 0;
  text-align: center;
  background-image: url(images/wood.jpeg);
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
  position: absolute;
  top: 150px;
}

.profileimg {
  height: 10%;
  width: 10%
}

.sections {
  position: absolute;
  left: 26%;
  top: 150px;
  background: #e4e6e4;
  width: 860px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.itemcard1 {
  list-style-type: circle;
}

ul.itemcard2 {
  list-style-type: square;
}