body {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0%;
  height: 100%;
  background-image: url(Images/background.jpg);
  /* background-size: 100%; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  height: auto;
  overflow: hidden;
  position: relative;
}

h1, h2 {
  outline-style: dotted;
}

h4 {
  color: white;
  background: #60a3bc;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  border-radius: 15px 15px 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  border-top: 2px solid #60a3bc;
  border-radius: 35px;
}

/* Theme image captions */
div.figure, p.caption {
  color: white;
  background: #60a3bc;
  font-style: italic;
  font-size: smaller;
}

img {
  outline-style: solid;
  outline-color: #60a3bc;
  padding: 8px;
}

div.contents, table.illus, tbody, p.toc {
  color: #c0392b;
  font-style: italic;
  font-size: bold;
}

p {
  font-family: "Times New Roman", Times, serif;
}